table {
  .theadTr {
    display: flex;
    justify-content: space-around;
    height: 51px;
    width: 1069px;
    
    border: none;
    border-radius: 0px;
    padding: 0px, 0px, 20px, 0px;
  }

  th {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 267.25px;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #2B2C33;

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  tr {
    border-top: 1.5px solid #9395A3;

    height: 79px;
    width: 1069px;
    padding: 0px, 0px, 20px, 0px;
    
    // border: solid;
    a {
      width: 100%;
      height: 79px;
      display: flex;
      justify-content: space-around;

      td:first-child {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;

        color: #2B2C33;

        flex: none;
        order: 0;
        flex-grow: 0;
      }

      td {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 267.25px;

        font-size: 16px;
        line-height: 19px;
        color: #9395A3;

      }
    }
  }
}