<!-- 
  pegar id na url, se tiver id, mostrar um título, senão, mostrar outro
-->
 <main>
  <h1>Editar Coleção</h1>
  <form action="">
    <fieldset>
      <input 
      placeholder=""
      type="text"/>
      <input 
      placeholder=""
      type="text"/>
      <input 
      placeholder=""
      type="text"/>
    </fieldset>
    <fieldset>
      <input 
      placeholder=""
      type="text"/>
      <input 
      placeholder=""
      type="text"/>
      <input 
      placeholder=""
      type="text"/>
    </fieldset>
  </form>
  <button>Atualizar</button>
  <button>Cancelar</button>
</main>
