<main>
  <h1>Edital Modelo</h1>
  <form action="">
    <fieldset>
      <input 
      placeholder=""
      type="text"/>
      <select name="" id=""></select>
      <label for="">Possui bordado?</label>
      <input 
      type="radio"/>
      <input 
      type="radio"/>
    </fieldset>
    <fieldset>
      <input 
      placeholder=""
      type="text"/>
      <select name="" id=""></select>
      <label for="">Possui estampa?</label>  
      <input 
      type="radio"/>
      <input 
      type="radio"/>
    </fieldset>
  </form>
  <button>Atualizar</button>
  <button>Cancelar</button>
</main>
