<!-- 
  pegar id na url, se tiver id, mostrar um título, senão, mostrar outro
-->
 <main>
  <h1>Editar Coleção</h1>
  <form action="" [formGroup]="form">
    <fieldset>
      <input 
        formControlName="name"
        placeholder="Nome da Coleção"
        type="text"/>
      <input 
        formControlName="season"
        placeholder="Para qual estação?"
        type="text"/>
      <input 
        formControlName="budget"
        placeholder="Qual é o orçamento desta coleção?"
        type="text"/>
    </fieldset>
    <fieldset>
      <input 
        formControlName="responsible"
        placeholder="Responsável pela coleção "
        type="text"/>
      <input 
        formControlName="brand"
        placeholder="Para qual marca você está criando?"
        type="text"/>
      <input 
        formControlName="launchYear"
        placeholder="Ano de Lançamento"
        type="text"/>
    </fieldset>
  </form>
  <button (click)="onDelete()">Excluir</button>
  <button>Cancelar</button>
  <button (click)="onSubmit()">Salvar</button>
</main>
