main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 101px; 

  h1 {
    margin-top: 10px;
    font-size: 24px;
    line-height: 29px;
    color: #2C2C2C;
  }

  .edit-container {
    display: flex;
    flex-direction: column;
    max-width: 1050px;
    position: relative;

    .btn-del {
      position: absolute;
      left: 107px;
      bottom: 0;
    }
  }

  img {
    height: 250px;
    width: 339.0627136230469px;
    margin-left: 396px;
    margin-bottom: 119px;
  }

  button {
    width: 180px;
    height: 50px;
    padding: 14px 0px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
  }

  .form-buttons {
    display: inline-block;
    display: flex;
    align-self: flex-end;
    gap: 45px;
    
    div {
      border: solid;
      display: flex;
      align-self: flex-end;
    }
  }
}

form {
  display: flex;
  max-width: 950px;
  gap: 100px;
  margin: 90px 0 73px 107px;

  fieldset {
    display: flex;
    gap: 45px;
    flex-direction: column;
  }

  input {
    width: 410px;
    height: 43px;
  }

  input::placeholder { 
    color: var(--light-gray)
  }

}