header {
  margin: 60px 0 166px 80px;
  display: flex;
  justify-content: space-between;

  
  h1 {
    margin-top: 10px;
    font-size: 24px;
    line-height: 29px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #2C2C2C;
  }
}

section {
  margin-top: 64px;
  margin-left: 112px;
}