<div class="forgot-container h-100 w-100 d-flex justify-content-center align-items-center
flex-column">
  <section>
    <img src="../../../assets/AudacesLogo.svg" alt="">
    <form class="d-flex flex-direction-row" onsubmit="asdfasf">
      <a [routerLink]="['/login']">
        <img class="arrow-left" src="../../../assets/Arrow - Right.svg" alt="">
      </a>
      <div>
        <h1>Redefinir Senha</h1>
        <p>Digite o e-mail associado à sua conta e enviaremos instruções para redefinir sua senha. </p>
        <input 
        placeholder="Informe seu e-mail"
        type="email"/>
        <button class="btn btn-primary w-100" type="submit">Enviar recuperação</button>
      </div>
    </form>
  </section>
</div>