header {
  margin-bottom:166px;
  display: flex;
  justify-content: space-between;

  h1 {
    margin-top: 10px;
    font-size: 24px;
    line-height: 29px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #2C2C2C;
  }

  button {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    padding: 14px ;
    width: 220px;
    height: 50px;
  }
}

section {
  margin-top: 64px;
  margin-left: 32px;
  margin-right: 32px;
}