<header>
  <h3>Audaces Manager</h3>
  <nav>
    <a href="/">Dashboard</a>
    <span>CADASTROS</span>
    <ul>
      <a [routerLink]="['/collections']">
        <li> Coleções </li>
      </a>
      <a [routerLink]="['/models']">
        <li> Modelos </li>
      </a>
    </ul>
    <span>SUPORTE</span>
    <ul>
      <a [routerLink]="['/help']">
        <li> Obter Ajuda</li>
      </a>
      <a [routerLink]="['/send-comment']">
        <li> Enviar Comentários </li>
      </a>
    </ul>
    <a [routerLink]="['/login']">Logout</a>
  </nav>
</header>