<main>
  <h1>Edital Modelo</h1>
  <form action="" [formGroup]="form">
    <fieldset>
      <input 
        formControlName="name"
        placeholder=""
        type="text"/>
      <select 
        formControlName="type"
        name="" id="">
      </select>
      <label for="" formControlName="embroidery" >
        Possui bordado?
        <input type="radio" />
        <input type="radio" />
      </label>
    </fieldset>
    <fieldset>
      <input 
        formControlName="responsible"
        placeholder=""
        type="text"/>
      <select
        formControlName="collection"
        name="" id="">
      </select>
      <label for="" formControlName="print">
        Possui estampa?
        <input type="radio"/>
        <input type="radio"/>
      </label>  
    </fieldset>
  </form>
  <button (click)="onDelete()">Deletar</button>
  <button (click)="onSubmit()">Salvar</button>
  <button>Cancelar</button>
</main>
