<header>
  <img src="../../../assets/isa 1 (1).svg" alt="">
  <h3>Audaces Manager</h3>
  <nav>
    <a [routerLink]="['/home']" routerLinkActive="active" >Dashboard</a>
    <span>CADASTROS</span>
    <ul>
      <a [routerLink]="['/collections']" routerLinkActive="active">
        <li> Coleções </li>
      </a>
      <a [routerLink]="['/models']" routerLinkActive="active">
        <li> Modelos </li>
      </a>
    </ul>
    <span>SUPORTE</span>
    <ul>
      <a >
        <li> Obter Ajuda</li>
      </a>
      <a >
        <li> Enviar Comentários </li>
      </a>
    </ul>
    <a class="logout" [routerLink]="['/login']">Logout</a>
  </nav>
</header>