<header>
  <img src="../../../assets/isa 1 (1).svg" alt="">
  <h3>Audaces Manager</h3>
  <nav>
    <a href="/" class="active" style="padding: 0 30px;">Dashboard</a>
    <span>CADASTROS</span>
    <ul>
      <a [routerLink]="['/collections']">
        <li> Coleções </li>
      </a>
      <a [routerLink]="['/models']">
        <li> Modelos </li>
      </a>
    </ul>
    <span>SUPORTE</span>
    <ul>
      <a [routerLink]="['/help']">
        <li> Obter Ajuda</li>
      </a>
      <a [routerLink]="['/send-comment']">
        <li> Enviar Comentários </li>
      </a>
    </ul>
    <a class="logout" [routerLink]="['/login']">Logout</a>
  </nav>
</header>